html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url('./img/app-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 60%;
  width: 100%;
  position: absolute;
  display: table;
}

.app-container {
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.app-header {
  height: 20%;
  width: 50%;
  text-align: center;
  margin: auto;
}

.form-container {
  width: 50%;
  background-color: white;
  margin: 0 auto;
}

.app-output {
  height: 10%;
}